body{padding-top:70px;background-color:#f6f8f8;}
.page-id-8{padding-top:50px;}
.home img{border:5px solid #34495E;}
.vpost{display:inline-block;vertical-align:middle;float:none;}
footer{background-color:#2C3E50;}
.credits{margin-top:35px;}
.dark-jumbotron{color:#f6f8f8;background-color:#2C3E50;}
.centre{text-align:center;}
.recent-posts{padding-left:15px;}
.entry-content{padding-top:15px;}
.page-title, .screen-reader-text, .comments-title, .widget-title{font-size:2.2em;}
.entry-meta{font-style:italic;}
.blog article, .archive article, .search article{padding-bottom:15px;}
html{position:relative;min-height:100%;}
body{margin-bottom:116px;}
footer{position:absolute;bottom:0;width:100%;height:116px;}
@media (max-width:768px){footer{height:236px;}
body{margin-bottom:236px;}
.page-title, .screen-reader-text, .comments-title, .widget-title{font-size:1.8em;}
}
.pager li:first-child>a, .pager li:first-child>span{border-left:none;border-radius:6px;}